// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start
$theme := {
  primary: #9c27b0
  accent: #1b5e20
  secondary: #01014f
  info: #0D47A1
  warning: #dda963
  error: #B71C1C
  success: #2E7D32
}